.container-title {
    height: 21px;
    width: 182px;
    margin: 7px auto;
    padding-bottom: 20px;
}

.documents-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0px;
    text-align: left;
    margin-left:-57px;
   

}

.general-container-documents{
    @apply visible md:hidden lg:hidden xl:hidden 2xl:hidden;
    height: 350px;
    max-width: 680px;
    margin: 5px auto;
    background-color: rgba(255, 254, 254, 1);
    border-radius: 8px;
    ;
}

.container-item{
    width: 345px;
    max-width: 600px;
    margin:20px auto;
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding-top:5px;
}

.container-item div {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}
